name: competitrack-website
on:
  push:
    branches:
      - master
      - develop
      # Starts with 'release/' 'hotfix/' 'feature/' 'bugfix/' 'support/' or 'revert-'
      - /^(release\/|hotfix\/|feature\/|bugfix\/|support\/|revert-).*/
      # Tags!
      - /^\d+\.\d+\.\d+/
  pull_request:
    branches:
      - master
      - develop
      # Starts with 'release/' 'hotfix/' 'feature/' 'bugfix/' 'support/' or 'revert-'
      - /^(release\/|hotfix\/|feature\/|bugfix\/|support\/|revert-).*/
      # Tags!
      - /^\d+\.\d+\.\d+/
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Check out repository code
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: '3'
      # https://github.com/marketplace/actions/setup-java-jdk
      - name: Set up JDK 14
        uses: actions/setup-java@v2.0.0
        with:
          distribution: 'adopt'
          java-package: jdk
          java-version: 14
      # https://github.com/marketplace/actions/slack-notify
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2.1.3
        env:
          SLACK_CHANNEL: bash-test
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON: https://github.com/rtCamp.png?size=48
          SLACK_MESSAGE: 'Post Content :rocket:'
          SLACK_TITLE: Post Title
          SLACK_USERNAME: GitHubActions
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
